In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("data_collecting_action_frame.csv", dtype=object)
df.head()

,Unnamed: 0,nose,left_eye,right_eye,left_ear,right_ear,left_shoulder,right_shoulder,left_elbow,right_elbow,...,left_knee,right_knee,left_ankle,right_ankle,LE_angle,RE_angle,Xbound,Ybound,frame_num,action
0,0,[ 829.5 348],[ 845 335.5],[ 815 334.25],[ 865 348.5],[ 792.5 346],[ 899 455],[ 745 448],[ 922 577.5],[ 718 570],...,[ 854 854],[ 759.5 852],[ 847 1010.5],[ 757.5 1012.5],187.9458055265085,173.06624550693442,"[679.5, 958.75]","[277.4375, 1070.9375]",1,walk
1,1,[ 830 347.5],[ 845.5 335],[ 815 333.75],[ 865 348.25],[ 792.5 346],[ 899 455],[ 745.5 447.5],[ 922 577.5],[ 718 569],...,[ 854 854],[ 759.5 852],[ 847 1010],[ 757 1012.5],188.75149204910133,173.01183430339668,"[679.375, 959.375]","[277.3125, 1070.8125]",2,stand
2,2,[ 829.5 346.75],[ 845.5 334.5],[ 815 333],[ 865.5 347.75],[ 793.5 345.5],[ 900 455.25],[ 745.5 447],[ 922 578],[ 717 567],...,[ 854 853],[ 760 851],[ 847 1009],[ 756 1010.5],188.26986188932372,172.59224099320306,"[680.375, 960.375]","[277.3125, 1070.8125]",3,stand
3,3,[ 830 346.75],[ 845.5 334.5],[ 815.5 333.5],[ 865.5 347.25],[ 793.5 345.5],[ 900.5 455],[ 746 447],[ 922 578],[ 717 567],...,[ 854 853],[ 759.5 851],[ 847 1009],[ 755.5 1010.5],188.29379976482156,172.36646823007862,"[679.90625, 961.15625]","[277.0625, 1070.5625]",4,stand
4,4,[ 830 346.5],[ 846 334.25],[ 815.5 333],[ 866 346.75],[ 793.5 345],[ 900 454.5],[ 746 446.5],[ 921.5 577.5],[ 717 566.5],...,[ 854 853],[ 759.5 851],[ 846.5 1009],[ 756 1010.5],188.29379976482156,172.36646823007862,"[680.421875, 960.921875]","[277.125, 1070.625]",5,stand

In [37]:
ndf = df[['frame_num', 'nose', 'left_eye', 'right_eye', 'left_ear', 'right_ear',
       'left_shoulder', 'right_shoulder', 'left_elbow', 'right_elbow',
       'left_wrist', 'right_wrist', 'left_hip', 'right_hip', 'left_knee',
       'right_knee', 'left_ankle', 'right_ankle','Xbound', 'Ybound', 'LE_angle', 'RE_angle', 'action']]

In [38]:
ndf.head()

,frame_num,nose,left_eye,right_eye,left_ear,right_ear,left_shoulder,right_shoulder,left_elbow,right_elbow,...,right_hip,left_knee,right_knee,left_ankle,right_ankle,Xbound,Ybound,LE_angle,RE_angle,action
0,1,[ 829.5 348],[ 845 335.5],[ 815 334.25],[ 865 348.5],[ 792.5 346],[ 899 455],[ 745 448],[ 922 577.5],[ 718 570],...,[ 764 683.5],[ 854 854],[ 759.5 852],[ 847 1010.5],[ 757.5 1012.5],"[679.5, 958.75]","[277.4375, 1070.9375]",187.9458055265085,173.06624550693442,walk
1,2,[ 830 347.5],[ 845.5 335],[ 815 333.75],[ 865 348.25],[ 792.5 346],[ 899 455],[ 745.5 447.5],[ 922 577.5],[ 718 569],...,[ 764 683.5],[ 854 854],[ 759.5 852],[ 847 1010],[ 757 1012.5],"[679.375, 959.375]","[277.3125, 1070.8125]",188.75149204910133,173.01183430339668,stand
2,3,[ 829.5 346.75],[ 845.5 334.5],[ 815 333],[ 865.5 347.75],[ 793.5 345.5],[ 900 455.25],[ 745.5 447],[ 922 578],[ 717 567],...,[ 764 684.5],[ 854 853],[ 760 851],[ 847 1009],[ 756 1010.5],"[680.375, 960.375]","[277.3125, 1070.8125]",188.26986188932372,172.59224099320306,stand
3,4,[ 830 346.75],[ 845.5 334.5],[ 815.5 333.5],[ 865.5 347.25],[ 793.5 345.5],[ 900.5 455],[ 746 447],[ 922 578],[ 717 567],...,[ 764 684],[ 854 853],[ 759.5 851],[ 847 1009],[ 755.5 1010.5],"[679.90625, 961.15625]","[277.0625, 1070.5625]",188.29379976482156,172.36646823007862,stand
4,5,[ 830 346.5],[ 846 334.25],[ 815.5 333],[ 866 346.75],[ 793.5 345],[ 900 454.5],[ 746 446.5],[ 921.5 577.5],[ 717 566.5],...,[ 764 683.5],[ 854 853],[ 759.5 851],[ 846.5 1009],[ 756 1010.5],"[680.421875, 960.921875]","[277.125, 1070.625]",188.29379976482156,172.36646823007862,stand

In [39]:
ndf.keys()[1:-1]

Index(['nose', 'left_eye', 'right_eye', 'left_ear', 'right_ear',
       'left_shoulder', 'right_shoulder', 'left_elbow', 'right_elbow',
       'left_wrist', 'right_wrist', 'left_hip', 'right_hip', 'left_knee',
       'right_knee', 'left_ankle', 'right_ankle', 'Xbound', 'Ybound',
       'LE_angle', 'RE_angle'],
      dtype='object')

In [40]:
import re
import math
frame_width = 1920
frame_height = 1080
def append_features(data_frame,idx):
    features_list = []
    for kpts in data_frame.keys()[1:-1]:
        features = data_frame.iloc[idx][kpts]
        # print(kpts)
        if (kpts=="LE_angle") or (kpts=="RE_angle"):
            features = np.round(float(features),2)
            features *= (math.pi/360)
        else:
            features = turn2list(features)
            if kpts == "Xbound":
                features[0]/=frame_width
                features[1]/=frame_width
            elif kpts == "Ybound":
                features[0]/=frame_height
                features[1]/=frame_height
            # features = np.round(features,2)
            else:
                features[0]/=frame_width
                features[1]/=frame_height

        features_list.append(features)
    return np.concatenate(features_list, axis=None,dtype=np.float64)


def turn2list(input_string):
    # Input string
    input_string = str(input_string)
    # Use regular expression to extract numbers
    input_string = input_string.split('[')[-1]
    input_string = input_string.split(']')[0]
    numbers = input_string.split(' ')
    # print(numbers)
    number_list = []
    for num in numbers:
        if num!='':
            if num.split(",")!=0:
                num = num.split(",")[0]
            number_list.append(float(num))
    # Convert strings to float and create a list
    return number_list

In [41]:
from tqdm import tqdm 
df_dict = {}
df_time = []
df_features = []
df_action = []
for k in tqdm(range(len(ndf))):
    df_time.append(int(k))
    df_features.append(append_features(ndf,k))
    df_action.append(ndf.iloc[k].action)
df_dict["time"] = df_time
df_dict["features"] = df_features
df_dict["action"] = df_action
new_dataframe = pd.DataFrame(df_dict)

  0%|          | 0/1261 [00:00<?, ?it/s]

100%|██████████| 1261/1261 [00:01<00:00, 729.50it/s]

In [42]:
new_dataframe.iloc[343]['features']

array([2.13052083e-02, 2.91203704e-01, 2.44953125e-02, 2.77546296e-01,
       2.02473958e-02, 2.78472222e-01, 4.23828125e-02, 2.79861111e-01,
       5.92447917e-02, 2.77777778e-01, 5.66406250e-02, 3.66435185e-01,
       7.87760417e-02, 3.56250000e-01, 6.09687500e-02, 4.95370370e-01,
       6.36718750e-02, 4.93518519e-01, 5.34843750e-02, 6.03240741e-01,
       2.68390625e-02, 5.54166667e-01, 6.21770833e-02, 5.92592593e-01,
       9.17968750e-02, 5.87500000e-01, 1.01562500e-02, 7.24537037e-01,
       8.00781250e-02, 7.32407407e-01, 3.61328125e-02, 8.85648148e-01,
       9.19895833e-02, 8.90740741e-01, 2.60416667e-04, 1.15234375e-01,
       2.14959491e-01, 9.48292824e-01, 1.66198978e+00, 1.88609006e+00])

In [43]:
new_dataframe.to_csv("normalize_skeleton_data.csv", index=False, float_format='%.2f')