In [32]:
import numpy as np
import pandas as pd

In [90]:
import re
from tqdm import tqdm
import math
frame_width = 1920
frame_height = 1080
def append_features(data_frame,idx):
    features_list = []
    for kpts in data_frame.keys()[1:-1]:
        features = data_frame.iloc[idx][kpts]
        # print(kpts)
        if kpts.split('_')[-1]=="angle":
            features = float(features)
            features *= (math.pi/360)
        else:
            features = turn2list(features)
            features[0]/=frame_width
            features[1]/=frame_height

        features_list.append(features)
    return np.concatenate(features_list, axis=None,dtype=np.float32)

def append_step_features(data_frame,steps):
    total = len(data_frame)-steps
    df_dict = {}
    df_times_collector = []
    df_features_collector = []
    df_actions_collector = []
    for i in tqdm(range(total)):
        ds = []
        start_time = i
        for j in range(steps):
            ds.append(np.array(turn2list(data_frame.iloc[i+j]['features']),dtype=np.float32))
        ds = np.stack(ds,axis=0)
        stop_time = i+j

        df_features_collector.append(ds)
        df_actions_collector.append(data_frame.iloc[i+steps]['action'])
        df_times_collector.append([start_time,stop_time])
    
    df_dict["times"] = df_times_collector
    df_dict["features"] = df_features_collector
    df_dict["action"] = df_actions_collector

    new_dataframe = pd.DataFrame(df_dict)
    new_dataframe.to_csv(f"features_steps_{steps}_.csv",index=False)
    return new_dataframe
        

def turn2list(input_string):
    # Input string
    input_string = str(input_string)
    # Use regular expression to extract numbers
    input_string = input_string.split('[')[-1]
    input_string = input_string.split(']')[0]
    numbers = input_string.split(' ')
    # print(numbers)
    number_list = []
    for num in numbers:
        if num!='':
            if num.split("\d")!=0:
                num = num.split("\d")[0]
            number_list.append(float(num))
    # Convert strings to float and create a list
    return number_list

def turn2list2(input_string):
    # Input string
    input_string = str(input_string)
    # Use regular expression to extract numbers
    input_string = input_string.split('[')[-1]
    input_string = input_string.split(']')[0]
    numbers = input_string.split(' ')
    print(numbers)
    number_list = []
    for num in numbers:
        if num!='':
            if num.split("\d")!=0:
                num = num.split("\d")[0]
            number_list.append(float(num))
    # Convert strings to float and create a list
    return number_list

In [88]:
turn2list(df.iloc[343]['features'])

['4.09100e+01', '3.14500e+02', '4.70300e+01', '2.99750e+02', '3.88800e+01', '3.00750e+02\n', '8.13800e+01', '3.02250e+02', '1.13750e+02', '3.00000e+02', '1.08750e+02', '3.95750e+02\n', '1.51250e+02', '3.84750e+02', '1.17060e+02', '5.35000e+02', '1.22250e+02', '5.33000e+02\n', '1.02690e+02', '6.51500e+02', '5.15300e+01', '5.98500e+02', '1.19380e+02', '6.40000e+02\n', '1.76250e+02', '6.34500e+02', '1.95000e+01', '7.82500e+02', '1.53750e+02', '7.91000e+02\n', '6.93800e+01', '9.56500e+02', '1.76620e+02', '9.62000e+02', '5.00000e-01', '2.21250e+02\n', '2.32160e+02', '1.02416e+03', '1.90450e+02', '2.16130e+02']

[40.91,
 314.5,
 47.03,
 299.75,
 38.88,
 300.75,
 81.38,
 302.25,
 113.75,
 300.0,
 108.75,
 395.75,
 151.25,
 384.75,
 117.06,
 535.0,
 122.25,
 533.0,
 102.69,
 651.5,
 51.53,
 598.5,
 119.38,
 640.0,
 176.25,
 634.5,
 19.5,
 782.5,
 153.75,
 791.0,
 69.38,
 956.5,
 176.62,
 962.0,
 0.5,
 221.25,
 232.16,
 1024.16,
 190.45,
 216.13]

In [95]:
df = pd.read_csv("normalize_skeleton_data.csv")
df.head()

   time                                           features action
0     0  [0.43203124 0.32222223 0.44010416 0.31064814 0...   walk
1     1  [0.43229166 0.32175925 0.44036457 0.3101852  0...  stand
2     2  [0.43203124 0.3210648  0.44036457 0.30972221 0...  stand
3     3  [0.43229166 0.3210648  0.44036457 0.30972221 0...  stand
4     4  [0.43229166 0.32083333 0.440625   0.30949074 0...  stand

In [99]:
steps=10
new_df=append_step_features(df,steps)

100%|██████████| 1251/1251 [00:01<00:00, 837.06it/s]